.button {
    background-color: #75C3B7;
    width: 80px;
    height: 40px;
    padding: 12px;
    border-radius: 5px;
    // align-self: flex-end;
    // margin-right: 93px;
    border-style: ridge;
    border: none;
}