.commentBox{
    width:100%;
    background-color: #FFFFFF;
    border-bottom: 4px solid #57bdad;
    margin: 0 30px;
    padding: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.2s linear;
}